<h1 class="hide">GIFT EXCHANGE</h1>
<div class="brand-logo"><img src="/images/logo.png" title="交換禮物"></div>
<div class="info">Beta 0.1</div>

<div class="button-group">
  <div class="button-row">
    <a href="/new" class="btn btn-lg btn-c btn-c1"><i class="fa fa-plus-circle"></i> 建立遊戲</a>
  </div>
  <div class="button-row">
    <a href="/join" class="btn btn-lg btn-c btn-c3"><i class="fa fa-link"></i> 加入遊戲</a>
  </div>
</div>