<form action="/join" method="POST" class="form">

  <h1 class="hide">JOIN A GAME</h1>
  <div class="content">
    <h2>加入遊戲</h2>
    <label>遊戲序號：</label>
    <input name="gid" maxlength="8" type="tel" class="form-control input-lg">
    <div class="info">沒有遊戲序號？立刻<a href="/new">建立遊戲</a>。</div>
  </div>

  <div class="button-group">
    <div class="button-row">
      <button type="submit" class="btn btn-lg btn-c btn-c1"><i class="fa fa-check"></i> 加入</a>
    </div>
    <div class="button-row">
      <a href="/" class="btn btn-lg btn-c btn-c3"><i class="fa fa-arrow-left"></i> 返回</a>
    </div>
  </div>
</form>