<h1 class="hide">PLAY</h1>
<div class="main">
  <div class="content">
    <div class="number"><%- pid %></div>
    <input type="hidden" class="p-id" value="<%- pid %>">
  </div>

  <div class="button-group">
    <div class="button-row">
      <a href="#" class="btn btn-lg btn-c btn-c1 roll-btn disabled"><i class="fa fa-play"></i> YOUR TURN</a>
    </div>
    <div class="button-row end-game-btn-row hide">
      <a href="/" class="btn btn-lg btn-c btn-c1"><i class="fa fa-taxi"></i> END GAME</a>
    </div>
  </div>
</div>